*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.wrapper{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow-x: hidden;
}
.page{
	-webkit-box-flex: 1;
	-ms-flex: 1 0 100%;
	   flex: 1 0 100%;
	position: relative;
	padding: 0 10px;
}
.fullscreen__bg{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.ibg{
	background-position: center; 
	background-size: cover; 
	background-repeat: no-repeat; 
}
.ibg img{
	width: 0;
	height: 0;
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	visibility: hidden;
}
.logo-body{
    width: 100%;
    margin-top:20px;
}


.logo{
    width: 20%;
    animation: logo 1.5s linear ;
}

@keyframes logo{
    0%  { opacity: 0;}
   
   100% { opacity: 1;}
}
.text_pp{
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    color: #755c5c;
    text-align: center;

}
._anima1 {
	 animation: anima1 1.5s ease ;
}
._anima2 {
	 animation: anima2 1.5s ease ;
}
@keyframes anima1{
	0%   { 
			transform: translateX(120%);
 			opacity: 0;
	}
   
   100% { 
   		 	transform: translateX(0);
 			opacity: 1;
   	}
}
@keyframes anima2{
	0%   { 
			transform: translate(-120%, 0%);
 			opacity: 0;
	}
   
   100% { 
   		 	transform: translate(0, 0);
 			opacity: 1;
   	}
}





.form-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-body {
    width: 550px;
    background-color: #3582bf;
    padding: 35px 10px 20px 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 5px #444;
}
.text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color:  #fff;
    text-align: center;
    margin: 0 0 20px 0;
    text-shadow:1px 2px 2px #555;
    
}
.form__item {
    margin: 0px 25px 30px 25px;
}

.form__input {
    outline: none !important;
    margin: 0 auto;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid #666;
    color: #333333;
    width: 100%;
}
.form__input._error{
    border: 1px solid #ff0000;
}
.form__item-b{
    margin: 0 auto;
    width: 70%;
}
.form__button{
    width: 100%;
    height: 60px;
    outline:none;
    display:inline-block;
    text-decoration:none;
    text-transform: uppercase;
    text-shadow:0 1px 1px #555;
    background-color: #eaba62;
    background-image:linear-gradient(45deg, #eaba62 0%, #d3991b 50%, #eaba62 100%);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid #767676;
	transition:.5s;
}
.form__button:hover{
	box-shadow: 0 0 8px #eaba62;
	 background-image:linear-gradient(45deg,  #d3991b 0%, #eaba62 50%, #d3991b 100%);
}      

.modal {
    display: none;
    position: fixed;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1043;
    overflow: auto;
}
.modal__content {
    text-align: center;
    vertical-align: middle;
    margin: 250px auto;
    background-color: #fff;
    padding: 5px 10px 40px 10px;
    width: 340px;
    border-radius: 5px;
    z-index: 999999;
}
.close {
    color: #000;
    float: right;
    font-size: 30px;
    cursor: pointer;
}


/* Slider */
.slider{
    min-width: 0;
    max-width: 550px;
    max-height: 250px;
    margin-top: 20px;
    background-color: transparent;
    margin-top: 10px;
    
 }
 .slick-list {
    overflow: hidden;
} 
.slick-track{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.slider__flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-warp:warp;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    text-align: left;
    overflow: hidden;
}
.slider__item{
    
}
.slick-slider{
    text-align: center;
}
.slider__item img{
    width: 270px;
   }

@media screen and (max-width: 600px){
    .form-body {
    width: 520px;
    }
    .slider{
    max-width: 520px;
    }
    .slider__item img{
    width: 260px;
    }
}


@media screen and (max-width: 560px){
    .logo{
    width: 30%;
    }
    .form-body {
    width: 480px;
    }
    .slider{
    max-width: 480px;
    }
    .slider__item img{
    width: 240px;
    }
}

@media screen and (max-width: 520px){
    .form-body {
    width: 440px;
    }
    .slider{
    max-width: 440px;
    }
    .slider__item img{
    width: 220px;
    }
}
@media screen and (max-width: 480px){
    .form-body {
    width: 400px;
    }
    .slider{
    max-width: 400px;
    }
    .slider__item img{
    width: 200px;
    }
}

@media screen and (max-width: 440px){
    .form-body {
    width: 380px;
    }
    .slider{
    max-width: 380px;
    }
    .slider__item img{
    width: 190px;
    }
}
@media screen and (max-width: 400px){
    .form-body {
    width: 340px;
    }
    .slider{
    max-width: 340px;
    }
    .slider__item img{
    width: 160px;
    }
} 


